# template for teammates - commited to git

DATABASE_URL=postgresql://user:password@localhost:5432/medacces
SECRET_KEY=generate-with-openssl-rand-hex-32
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
ENVIRONMENT=development